server:
  port: 8080

spring:
  application:
    name: TanKhoaLearningCenterBE
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: ${POSTGRESQL_URI:jdbc:postgresql://localhost:6678/TanKhoaLCDB}
    username: ${POSTGRESQL_USER:postgres}
    password: ${POSTGRESQL_PASSWORD:edward123}
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  health:
    defaults:
      enabled: false
  endpoints:
    enabled-by-default: false
    health:
      enabled: false
    web:
      exposure:
        include: [ ]
      cors:
        allowed-origins: ${CORS_ORIGINS:*}
        allowed-methods: ${CORS_METHODS:*}
        allowed-headers: ${CORS_HEADERS:*}
        allow-credentials: ${CORS_CREDENTIALS:false}
  endpoint:
    metrics:
      enabled: true
    prometheus:
      enabled: true
    health:
      enabled: true
      probes:
        enabled: true
    info:
      enabled: false
  tracing:
    sampling:
      probability: 1.0
  prometheus:
    metrics:
      export:
        enabled: true

application:
  security:
    jwt:
      secret-key: 6e5f9db3f11f7585ceaeb35550270e36ffd731f3961600dc349a92415cfdfdc7
      expiration: 86400000 # a day
      refresh-token:
        expiration: 604800000 # 7 days